{layout "../@layoutAdmin.latte"}
{block content1}
  <fieldset>
      <legend>Upozornění</legend>
    {foreach $flashes as $flash}
        <div class="flash {$flash->type}">{$flash->message}</div>
    {/foreach}
  </fieldset>
{/block}
