{layout "../@layoutAdmin.latte"}
{block content1}
<fieldset>
    <legend>Příhlášení</legend>
    {control loginForm}
    <p><a href="{link Admin:zapomenuteHeslo}">Zapoměli jste heslo?</a></p>
</fieldset>
{/block}