{* This is the welcome page, you can delete it *}
{block menu}
  <li><a href="{link Homepage:default}">Uvod</a></li>
  <li><a href="{link Novinky:}">Aktuality</a></li>
  <li class="active"><a href="{link Contact:}">Kontakt</a></li>
    {/block}
{block content}
<h1>Kontakt</h1>
{/block}
        
{block scripts}
{include #parent}

{/block}
     

{block head}

{/block}
