{block menu}
  <li class="active"><a href="{link Homepage:default}">Uvod</a></li>
  <li><a href="{link Novinky:}">Aktuality</a></li>
  <li><a href="{link Contact:}">Kontakt</a></li>
{/block}
{block content}
{/block}