{block menu}
  <li><a href="{link Homepage}">Uvod</a></li>
  <li><a href="{link Novinky:}">Aktuality</a></li>
  <li><a href="{link Rozpis:}">Rozpis</a></li>
{/block}
{block content}
<fieldset>
	<legend>Registrace uživatele </legend>
        {control registraceForm}
</fieldset>
{/block}
