{block menu}
  <li><a href="{link Homepage:default}">Uvod</a></li>
  <li><a href="{link Novinky:}">Aktuality</a></li>
  <li><a href="{link Contact:}">Kontakt</a></li>
{/block}
{block content}
  <fieldset>
      <legend>Upravit uživatele</legend>
      {control registraceForm}
  </fieldset>
{/block}