{var $robots = noindex}
{block menu}
  <li><a href="{link Homepage:default}">Uvod</a></li>
  <li><a href="{link Novinky:}">Aktuality</a></li>
  <li><a href="{link Rozpis:}">Rozpis</a></li>
{/block}
{block content}
  <fieldset>
      <legend>Přihlášení uživatele</legend>
   {control signInForm}
  
  </fieldset>
{/block}
